.single-menu {
	transition: all 0.6s;
}
.single-menu:hover{
	transform: scale(1.15);
}
.primary-btn text-uppercase:hover{
	color: white;
}
.changecolor{
	background: #0b0b0b;
}
.shopcart{
	height: 44px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	margin-top: -3px;
}
